.Spell__main {
    width: 300px;
    background-color: #641C14;
    border: 5px solid #553F30;
    margin-right: 10px;
    
}

.Spell__selected {
    border-color: gold;
    box-shadow: 0px 0px 20px 10px gold;
}

.Spell__main > p, .Spell__main > h3, .Spell__main > h5 {
    color: white;
    text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
