.SpellBookButtons__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.SpellBookButtons__button {
  background-color: blue;
  color: white;
  text-shadow: -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  width: 150px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 15px;
}